*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.container{
    display: grid;
    grid-template-areas: 
    "nav"
    "content1"
    "container"
    "card"
    "content2"
    "footer";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
nav{
    background-color: #A7BC5B;
    grid-area: nav;
}

.navbar-brand{
    text-transform: uppercase;
    text-decoration-line: underline;
    color: black;
    font-size: 26px;
}

.nav ul li a{
    font-size: 24px;
    margin: auto;
    color: white;
}

.nav ul li a:hover{
    color: white;
}

.content1{
    text-align: center;
    grid-area: content1;
}

.content2{
    grid-area: content2;
}

.content3{
    grid-area: content3;
}

.content4{
    grid-area: content4;
}

.footer{
    background-color: #8DA242;
    padding: 10px;
    clear: both;
    text-align: center;
    grid-area: footer;
}
body{
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.card{
    text-align: center;
    background-color: #A7BC5B;
}

h5{
    text-align: center;
    color: white;
    text-decoration: underline;
}