* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

nav {
  background-color: #a7bc5b;
  grid-area: nav;
}

.navbar-brand {
  text-transform: uppercase;
  text-decoration-line: underline;
  color: black;
  font-size: 26px;
}

.nav ul li a {
  font-size: 24px;
  margin: auto;
  color: white;
}

.nav ul li a:hover {
  color: white;
}

.content1 {
  text-align: center;
  grid-area: content1;
}

.footer {
  background-color: #8da242;
  padding: 10px;
  clear: both;
  text-align: center;
  grid-area: footer;
}

body {
  background-color: #ffffff;
  box-sizing: border-box;
}

.card-img {
  border: #a7bc5b solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}

.shop-pics {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.img-container {
  height: 400px;
  overflow: hidden;
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 990px) {
  .shop-pics {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
